@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  padding: 0;
}

li a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
nav {
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.1rem 0;
}
nav a {
  text-decoration: none;
  cursor: pointer;
  color: #7777;
}
nav ul {
  list-style: none;
  padding: 0;
}

.avatar {
  width: 22%;
  height: 22%;
  border-radius: 50%;
  border: 3px solid #1dbf73;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.avatar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: green; */
  justify-content: center;
  width: 15%;
  gap: 1rem;
}

.icon {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  color: #7777;
  cursor: pointer;
}

.nav-items {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  /* width: 50%; */
  justify-content: center;
}
.nav-items li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: color 0.3s ease-in-out;
}
.nav-items li a,
.nav-items li i {
  transition: color 0.3s ease-in; /* Add transition for color */
}
.nav-items li:hover a,
.nav-items li:hover i {
  color: #1dbf73;
}
.nav-logo {
  width: 9%;
  cursor: pointer;
}
.notification-icon {
  cursor: pointer;
  font-size: 1.9rem;
  color: #4343439f;
}
