@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}
li a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

nav {
  background-color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  color: #7777;
}

ul {
  list-style: none;
  padding: 0;
}

.avatar {
  width: 22%;
  height: 22%;
  border-radius: 50%;
  border: 3px solid #1dbf73;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.avatar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15%;
  gap: 1rem;
}

.icon {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  color: #7777;
  cursor: pointer;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-items li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.nav-items li a,
.nav-items li i {
  transition: color 0.3s ease-in;
}

.nav-items li:hover a,
.nav-items li:hover i {
  color: #1dbf73;
}

.nav-logo {
  width: 11%;
  cursor: pointer;
}

.notification-icon {
  cursor: pointer;
  font-size: 1.9rem;
  color: #4343439f;
}

.navbar-popup {
  background-color: white;
  box-shadow: 2px 1px 13px -3px rgba(0, 0, 0, 0.75);
  border-radius: 2%;
  width: 20%;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 0.7rem;
  position: absolute;
  top: 6rem;
  right: 6rem;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.popup-avatar {
  width: 17%;
  height: 17%;
  border-radius: 50%;
  border: 1.6px solid #1dbf73;
}

.avatar-data h1 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  margin: 0;
}

.avatar-data h3 {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #4343439f;
  margin: 0;
}

.avatar-data {
  display: flex;
  flex-direction: column;
}

.navbar-popup a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
}

.navbar-popup hr {
  border-color: #7777770a;
}

.popup-heading {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  color: #777777eb;
  font-weight: 400;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.2rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1dbf73;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

.dark-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 8.4rem; */
}

.popup-heading-warning {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ff5869;
}

.popup-icons {
  cursor: pointer;
  font-size: 1.1rem;
  color: #777777eb;
}
.popup-icon-warning {
  cursor: pointer;
  font-size: 1.1rem;
  color: #ff5869;
}

.hamburger-icon {
  display: none;
}
.hamburger-nav-bar {
  background-color: white;
  box-shadow: 2px 1px 13px -3px rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.hamburger-nav-items {
  /* background-color: red; */
  /* padding-top: 9rem; */
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.hamburger-nav-items hr {
  width: 60%;
  border-color: #7777770f;
}
.hamburger-nav-items li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transition: color 0.3s ease-in-out;
}
.hamburger-nav-items a {
  color: #7777;
}
.hamburger-nav-items li a,
.hamburger-nav-items li i {
  transition: color 0.3s ease-in;
}
.hamburger-nav-items li:hover a,
.hamburger-nav-items li:hover i {
  color: #1dbf73;
}
.main-section {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-section h3 {
  color: #8692a6;
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 4rem;
}
.main-section h1 {
  color: black;
  font-weight: 600;
  font-size: 1.6rem;
  padding-left: 4rem;
  width: 85%;
}
.rating {
  display: flex;
  flex-direction: row;
  padding-left: 4rem;
  justify-content: space-between;
  align-items: center;
  width: 84%;
}
.rating-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.rating-stars h5 {
  font-size: 0.9rem;
  font-weight: 300;
  color: #8692a6;
}
.rating-stars span {
  font-weight: 400;
}
.rating-stars div {
  font-size: 1.2rem;
}
.stars-icons {
  color: #ffcb31;
}
.rating-stars .stars-icons i:last-child {
  color: #e6eaef;
}
.rating-icons {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  color: #8692a6;
  font-size: 1.7rem;
  cursor: pointer;
}
.carousel {
  /* padding-left: 4.5rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.design {
  width: 81%;
  padding-left: 5.5rem;
  /* padding-right: 0; */
}
.flip-icon {
  font-size: 1.5rem;
  color: #ededed;
}
.circle {
  width: 3.1rem;
  height: 3.1rem;
  background-color: #ffffff98;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: -3px 4px 9px 0px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: -3px 4px 9px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -3px 4px 9px 0px rgba(0, 0, 0, 0.33);
}
.arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 51.8rem;
  position: absolute;
  padding-left: 4rem;
  cursor: pointer;
}
.circle:hover {
  background-color: white;
}

.circle:hover .flip-icon {
  color: #1dbf73;
}

.lorem-card {
  /* width: 90%; */
  background-color: white;
  box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  margin-right: 7rem;
  margin-top: 5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
}
.lorem-card h1 {
  padding-top: 0.5rem;
  font-size: 1rem;
  padding-left: 1.6rem;
}
.lorem-card p {
  padding-left: 1.6rem;
  width: 80%;
}
.info-card {
  width: 75%;
  background-color: white;
  box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  margin-right: 7rem;
  margin-top: 2.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.share-earn-card {
  width: 75%;
  background-color: white;
  box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.18);
  margin-right: 7rem;
  margin-top: 2.5rem;
  border-radius: 5px;
}
.share-earn-card h1 {
  padding-top: 0.5rem;
  font-size: 1rem;
  padding-left: 1rem;
}
.info-card h1 {
  padding-top: 0.5rem;
  font-size: 1rem;
  padding-left: 1.6rem;
}
.lorem-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.fa-medal {
  font-size: 1.2rem;
  color: #1dbf73;
}
.fa-arrow-right-to-bracket {
  font-size: 1.2rem;
  color: #1dbf73;
}
.fa-address-card {
  font-size: 1.2rem;
  color: #1dbf73;
}
.icon-container {
  width: 10%;
  height: 10%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border-radius: 5px;
}
.contact-me-btn {
  background-color: #1dbf73;
  border: none;
  color: #fafafa;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}
.contact-me-btn:hover {
  background-color: #199b5e;
}
.price-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10rem;
  padding-left: 1.6rem;
}
.price-item h5 {
  font-weight: 500;
  color: #696f79;
}
.price-item div {
  font-weight: 500;
  color: #696f79;
  cursor: pointer;
}
.delivery-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 3.5rem;
  padding-left: 1.6rem;
}
.delivery-item h5 {
  font-weight: 500;
  color: #696f79;
}
.delivery-item div {
  font-weight: 500;
  color: #696f79;
  cursor: pointer;
}
.shopping-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.5rem;
  padding-left: 1.6rem;
}
.shopping-item h5 {
  font-weight: 500;
  color: #696f79;
}
.shopping-item div {
  font-weight: 500;
  color: #696f79;
  cursor: pointer;
}
.customers-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7rem;
  padding-left: 1.6rem;
}
.customers-item h5 {
  font-weight: 500;
  color: #696f79;
}
.customers-item div {
  font-weight: 500;
  color: #696f79;
  cursor: pointer;
}
.percentage-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9.6rem;
  padding-left: 1.6rem;
}
.percentage-item h5 {
  font-weight: 500;
  color: #696f79;
}
.percentage-item div {
  font-weight: 500;
  color: #696f79;
  cursor: pointer;
}
.category-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6.9rem;
  padding-left: 1.6rem;
}
.category-item h5 {
  font-weight: 500;
  color: #696f79;
}
.category-item div {
  font-weight: 500;
  color: #696f79;
  cursor: pointer;
}
.subcategory-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  padding-left: 1.6rem;
}
.subcategory-item h5 {
  font-weight: 500;
  color: #696f79;
}
.subcategory-item div {
  font-weight: 500;
  color: #696f79;
  cursor: pointer;
}
.share-earn-card {
  display: flex;
  flex-direction: column;
}
.social-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.fa-linkedin {
  color: #2867b2;
  font-size: 3rem;
}
.fa-square-facebook {
  color: #1877f2;
  font-size: 3rem;
}
.fa-square-whatsapp {
  color: #25d366;
  font-size: 3rem;
}
.fa-square-twitter {
  color: #1da1f2;
  font-size: 3rem;
}
.fa-copy {
  font-size: 2rem;
}
.copy-container {
  width: 15%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/* Media Query for Mobile View */
@media (max-width: 768px) {
  .nav-items {
    display: none;
  }
  .fa-bars {
    font-size: 1.6rem;
    color: #7777;
    transition: color 0.1s ease-in;
  }
  .hamburger-icon {
    display: block;
    cursor: pointer;
  }
  .fa-bars:hover {
    color: #1dbf73;
  }
  .fa-xmark {
    font-size: 1.6rem;
    color: #7777;
    transition: color 0.1s ease-in;
  }
  .fa-xmark:hover {
    color: #1dbf73;
  }
  .x-icon {
    position: absolute;
    cursor: pointer;
    right: 2.2rem;
    top: 2.5rem;
  }
  .avatar {
    width: 22%;
    height: 22%;
    border-radius: 50%;
    border: 3px solid #1dbf73;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .avatar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35%;
    gap: 1rem;
  }
  .notification-icon {
    font-size: 1.4rem;
  }
  .navbar-popup {
    width: 45%;
    top: 5.2rem;
  }
  .nav-logo {
    width: 15%;
  }
  .circle {
    width: 2.2rem;
    height: 2.2rem;
  }
  .arrows {
    gap: 19rem;
  }
  .flip-icon {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .avatar {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 3px solid #1dbf73;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .avatar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    gap: 0.7rem;
    /* background-color: red; */
  }
  .notification-icon {
    font-size: 1.5rem;
  }
  .navbar-popup {
    width: 45%;
    top: 5.2rem;
  }
  .nav-logo {
    width: 12%;
  }
  .nav-items a {
    font-size: 1rem;
  }
  .nav-items i {
    font-size: 1rem;
  }
  .nav-items {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* background-color: red; */
    gap: 0rem;
    padding: 0;
    margin: 0;
  }
}
